 /*공통*/
/*sprite css*/
.sp_img{display:block;background:url(../img/sprite.png)no-repeat;background-size:265px 263px;text-indent:-999em}
.wrap{background:#000}

/*헤더*/
.logo{width:74px;height:30px;background-position:-135px -33px}
.btn_all{width:33px;height:29px;background-position:-76px -56px}

/*사이드 메뉴*/
.side_menu.on{display:block}
/*.side_menu{display:none}*/
/*검색*/
.icon_search{width:30px;height:30px;background-position:-202px 0}
/*홈으로*/
.icon_home{width:54px;height:24px;background-position:-63px -117px}
/*공항이동*/
.icon_airport_moving{width:32px;height:32px;background-position:0px -67px}

/*nav*/
.icon_myplan_s.on{width:22px;height:23px;background-position:-158px 0;}
.icon_myplan_s{width:22px;height:23px;background-position:-97px -142px}
.icon_flight_info_s{width:24px;height:21px;background-position:-99px -31px}
.icon_flight_info_s.on{width:24px;height:21px;background-position:-109px -52px}
.icon_ticket_booking_s.on{width:22px;height:24px;background-position:-22px -219px}
.icon_ticket_booking_s{width:22px;height:24px;background-position:-71px -212px}
.icon_airport_guide_s.on{width:25px;height:23px;background-position:0px -44px}
.icon_airport_guide_s{width:25px;height:23px;background-position:-62px 0px}
.icon_transport_guide_s.on{width:24px;height:22px;background-position:-199px -130px}
.icon_transport_guide_s{width:24px;height:22px;background-position:-163px -173px}
.icon_parking_guide_s.on{width:22px;height:25px;background-position:0px -178px}
.icon_parking_guide_s{width:22px;height:25px;background-position:-182px 0px}
.icon_nav_s.on{width:24px;height:26px;background-position:-44px -167px}
.icon_nav_s{width:24px;height:26px;background-position:-119px -128px}
.icon_accessibility_s.on{width:26px;height:22px;background-position:-15px 0px}
.icon_accessibility_s{width:26px;height:22px;background-position:0px -22px}
.icon_mobility_handicapped_service_s.on{width:24px;height:26px;background-position:-40px -142px}
.icon_mobility_handicapped_service_s{width:24px;height:26px;background-position:-118px -102px}
.icon_tourist_info_s.on{width:26px;height:20px;background-position:-217px -89px}
.icon_tourist_info_s{width:26px;height:20px;background-position:-232px 0}
.icon_route_map_s.on{width:27px;height:24px;background-position:-96px -165px}
.icon_route_map_s{width:27px;height:24px;background-position:-21px -195px}
.icon_tel_info_s.on{width:22px;height:25px;background-position:-48px -211px}
.icon_tel_info_s{width:22px;height:25px;background-position:0px -216px}
.icon_setting_s.on{width:24px;height:23px;background-position:-196px -63px}
.icon_setting_s{width:24px;height:23px;background-position:-207px -30px}
/*이동*/
.icon_object{width:38px;height:39px;background-position:-148px -94px}

/*컨테이너*/
/*title_wrap*/
.icon_mark{width:40px;height:40px;background-position:0 -137px}
/*today_wrap*/
.icon_weather{width:49px;height:40px;background-position:-93px -222px}

/*메인01*/
/*status_wrap*/
.icon_before_entry{width:44px;height:36px;background-position:-32px -65px}
.left_arrow{width:22px;height:33px;background-position:-136px 0}
.right_arrow{width:22px;height:33px;background-position:-174px -63px}

/*nav*/
.icon_flight_info{width:31px;height:32px;background-position:-76px -86px}

.icon_transport_guide{width:38px;height:26px;background-position:-44px -236px}
.icon_parking_guide{width:32px;height:39px;background-position:-64px -172px}
.icon_tel_info{width:33px;height:35px;background-position:-127px -184px}
.icon_myplan{width:31px;height:30px;background-position:-65px -142px}
.icon_entry{width:28px;height:35px;background-position:-35px -101px}
.icon_check_lst{width:36px;height:31px;background-position:-99px 0px}
.icon_ticketing_info{width:36px;height:36px;background-position:-221px -53px}

/*
.sprite-tel-info { width: 66px; height: 70px; background-position: -255px -368px;}
.sprite-my-plan { width: 63px; height: 61px; background-position: -130px -284px;}
.sprite-ticketing-info { width: 73px; height: 73px; background-position: -441px -106px;}
*/






.℃{width:15px;height:15px;background-position:0px 0px}
.icon_airport_arrival{width:36px;height:43px;background-position:-26px -22px;}
.icon_airport_guide{width:37px;height:33px;background-position:-62px -23px;}
.icon_destination_arrival{width:35px;height:33px;background-position:0px -101px;}
.icon_food{width:35px;height:28px;background-position:-109px -73px}
.icon_mytrip{width:29px;height:36px;background-position:-70px -141px;}




.icon_route_map{width:39px;height:29px;background-position:-27px -193px;}
.icon_service{width:33px;height:34px;background-position:-99px -172px;}

.icon_shopping{width:31px;height:32px;background-position:-186px -88px;}
.icon_tea{width:35px;height:32px;background-position:-66px -206px;}

.icon_tourist_info{width:33px;height:33px;background-position:-101px -207px;}

