
.wrap{position:relative;width:100%}


/*헤더*/
.header_wrap {width:100%;min-width:1060px;background:#00c2fa}
.header{position:relative;width:1060px;margin:0 auto;padding:17px 0 101px}
/*로고*/
h1 .logo{position:absolute;right:0;width:120px;height:35px}


/*컨테이너*/
.container{}


/*메인컨텐츠*/
/*.main_wrap{width:1060px;margin:0 auto}*/
.section{width:100%;box-sizing:border-box}
.section *{box-sizing:border-box}
.section .con{width:1060px;margin:0 auto}
h2{text-align:center}
h3{text-align:center}
h4{margin-bottom:20px}
h2>img{margin-top:30px}
h2+p>strong:first-child{color:#ffee32}
h2+p>strong:last-child{font-size:24px}
.section p{margin:20px 0;font-size:22px;color:#fff}

/*섹션1*/
.section1{position:relative;height:694px;background:#00c2fa;text-align:center}
.section1:after{display:block;position:absolute;bottom:-46px;width:100%;height:60px;background:url(../img/bg_wave.png) no-repeat;background-size:cover;content:''}
.main_visual_wrap{position:relative;z-index:99;margin-top:44px}

/*꽃잎*/
/*.flower_wrap { animation:flower 2s infinite; -webkit-animation:flower 2s infinite; }
		@-webkit-keyframes flower {
			0% { transform:rotate(0deg); }
			50% { transform:rotate(50deg); }
			100% { transform:rotate(0deg); }
		}
		@keyframes flower {
			0% { transform:rotate(0deg); }
			50% { transform:rotate(50deg); }
			100% { transform:rotate(0deg); }
		}*/



.flower_wrap {
-webkit-animation: flower 1000ms linear infinite alternate;
-moz-animation: flower 1000ms linear infinite alternate;
-ms-animation: flower 1000ms linear infinite alternate;
animation: flower 1000ms linear infinite alternate
}
@-webkit-keyframes flower {
    from { -webkit-transform: rotate(0deg)}
    to { -webkit-transform: rotate(10deg)}
}

@-moz-keyframes  flower {
    from { -webkit-transform: rotate(0deg)}
    to { -webkit-transform: rotate(10deg)}
}
@-ms-keyframes flower {
    from { -webkit-transform: rotate(0deg)}
    to { -webkit-transform: rotate(10deg)}
}

@keyframes flower {
    from { -webkit-transform: rotate(0deg)}
    to { -webkit-transform: rotate(10deg)}
}

/*나비공통*/
.butterfly_wrap{position:absolute;z-index:99;width:33px;height:35px}


@keyframes flap {
     0% {
    transform: translate(0) ;
    backface-visibility:hidden;
    }
     10% {
    transform: translate(0) ;
    backface-visibility:hidden;
    }

     20% {
    transform: translate(45px, 108px) ;
    backface-visibility:hidden;
    }

     30% {
    transform: translate(43px, 103px) ;
    backface-visibility:hidden;
    }

     35% {
    transform: translate(109px, 18px) ;
    backface-visibility:hidden;
    }

     50% {
    transform: translate(109px, 18px) ;
    backface-visibility:hidden;
    }

     70% {
        transform: translate(109px, 18px) ;
    backface-visibility:hidden;
        }

    /* 85% {
    transform: translate(131px, 85px) ;
    backface-visibility:hidden;
    }*/

    85% {
    transform: translate(140px,95px) ;
    backface-visibility:hidden;
    }


     100% {
    transform: translate(0);
        }
}


@keyframes flapL {
  0% {
    -moz-transform: rotateY(75deg);
    -ms-transform: rotateY(75deg);
    -webkit-transform: rotateY(75deg);
    transform: rotateY(75deg);
  }
  100% {
    -moz-transform: rotateY(-30deg);
    -ms-transform: rotateY(-30deg);
    -webkit-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
  }
}
@keyframes flapR {
  0% {
    -moz-transform: rotateY(-75deg);
    -ms-transform: rotateY(-75deg);
    -webkit-transform: rotateY(-75deg);
    transform: rotateY(-75deg);
  }
  100% {
    -moz-transform: rotateY(30deg);
    -ms-transform: rotateY(30deg);
    -webkit-transform: rotateY(30deg);
    transform: rotateY(30deg);
  }
}




.yellow_left,.yellow_right{
  position: absolute;
  top: 0;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.yellow_left {
  left: 0;
  width: 16px;
  height: 35px;
  background: url(../img/yellow_butterfly_left.png)no-repeat;
  background-position: left 0;
  -moz-animation: flapL 1.1s ease infinite alternate;
  -ms-animation: flapL 1.1s ease infinite alternate;
  -webkit-animation: flapL 1.1s ease infinite alternate;
  animation: flapL 1.1s ease infinite alternate;
  -moz-transform-origin: right 50%;
  -ms-transform-origin: right 50%;
  -webkit-transform-origin: right 50%;
  transform-origin: right 50%;
}

.yellow_right {
  right: 0;
   width: 17px;
  height: 35px;
   background: url(../img/yellow_butterfly_right.png)no-repeat;
  background-position: right 0;
  -moz-animation: flapR 1.1s ease infinite alternate;
  -ms-animation: flapR 1.1s ease infinite alternate;
  -webkit-animation: flapR 1.1s ease infinite alternate;
  animation: flapR 1.1s ease infinite alternate;
  -moz-transform-origin: left 50%;
  -ms-transform-origin: left 50%;
  -webkit-transform-origin: left 50%;
  transform-origin: left 50%;
}




/*왼쪽 */
.left{position:absolute;left:-55px}

/*꽃잎*/
.left .flower_wrap{position:absolute;top:-103px;left:-100px}
/*나비*/
.left .butterfly_wrap{
    -moz-animation: flap 15s infinite cubic-bezier(0.3, 0, 0.7, 1);
    -webkit-animation: flap 15s infinite cubic-bezier(0.3, 0, 0.7, 1);
    -ms-animation: flap 15s infinite cubic-bezier(0.3, 0, 0.7, 1);
    animation: flap 15s infinite cubic-bezier(0.3, 0, 0.7, 1);
    animation-delay:2s;
    -webkit-animation-delay:2s;
    -moz-animation-delay:2s;
    -ms-animation-delay:2s;

}

/*오른쪽*/
.right{position:absolute;right:0}
/*꽃잎*/
.right .flower_wrap{position:absolute;top:-177px;right:-100px}
/*나비*/
.right .butterfly_wrap{top:-84px;left:52px}
.right .butterfly_wrap2{position:absolute;top:-37px;right:-33px;width:36px;height:37px}



.butterfly_wrap2 {
    animation:pink 5s infinite alternate;
    -webkit-animation:pink 5s infinite alternate;
    -moz-animation:pink 5s infinite alternate;
    -ms-animation:pink 5s infinite alternate;
}

@-webkit-keyframes pink {
    0% { transform:rotate(20deg)}
    50% { transform:rotate(0deg)}
    100% { transform:rotate(-20deg)}
}


@-moz-keyframes pink {
    0% { transform:rotate(20deg)}
    50% { transform:rotate(0deg)}
    100% { transform:rotate(-20deg)}
}

@-ms-keyframes pink {
    0% { transform:rotate(20deg)}
    50% { transform:rotate(0deg)}
    100% { transform:rotate(-20deg)}
}

@keyframes pink {
    0% { transform:rotate(20deg)}
    50% { transform:rotate(0deg)}
    100% { transform:rotate(-20deg)}
}

.pink_left{position:absolute;left:0;top:-1px;width:23px;height:37px;background:url(../img/pink_butterfly_left.png)no-repeat;background-position:left 0;}
.pink_right{position:absolute;right:1px;width:20px;height:37px;background:url(../img/pink_butterfly_right.png)no-repeat;background-position:right 0;}


/*보노보노*/

.bonobono_wrap {
    -webkit-animation: moveLeft 2s linear 1s alternate;
    -moz-animation: moveLeft 2s linear 1s alternate;
    -ms-animation: moveLeft 2s linear 1s alternate;
    animation: moveLeft 2s linear 1s alternate
}

@-webkit-keyframes moveLeft {
    0%   {opacity: 1.0; left:150px}
    100% {opacity: 1.0; left:-25px}
}

@-moz-keyframes moveLeft {
    0%   {opacity: 1.0; left:150px}
    100% {opacity: 1.0; left:-25px}
}

@-ms-keyframes moveLeft {
    0%   {opacity: 1.0; left:150px}
    100% {opacity: 1.0; left:-25px}
}

@keyframes moveLeft {
    0%   {opacity: 1.0; left:150px}
    100% {opacity: 1.0; left:-25px}
}


.bonobono_wrap{position:absolute;bottom:-60px;width:253px;height:263px}
.bonobono_wrap img:first-child{
-webkit-animation: spinBonobono 1500ms linear infinite alternate;
-moz-animation: spinBonobono 1500ms linear infinite alternate;
-ms-animation: spinBonobono 1500ms linear infinite alternate;
animation: spinBonobono 1500ms linear infinite alternate
}

@-webkit-keyframes spinBonobono {
    from { -webkit-transform: rotate(0deg)}
    to { -webkit-transform: rotate(10deg)}
}

@-moz-keyframes spinBonobono {
    from { -moz-transform: rotate(0deg)}
    to { -moz-transform: rotate(10deg)}
}

@-ms-keyframes spinBonobono {
    from { -ms-transform: rotate(0deg)}
    to { -ms-transform: rotate(10deg)}
}

@keyframes spinBonobono {
    from { transform:rotate(0deg)}
    to { transform:rotate(10deg)}
}



.bonobono_wrap img:first-child{position:absolute;top:-90px;left:41px}
/*너부리*/

.raccoon_wrap {
    -webkit-animation: moveRight 2s linear 1s alternate;
    -moz-animation: moveRight 2s linear 1s alternate;
    -ms-animation: moveRight 2s linear 1s alternate;
    animation: moveRight 2s linear 1s alternate
}

@-webkit-keyframes moveRight {
    0%   {opacity: 1.0; right:200px}
    100% {opacity: 1.0; right:36px}
}

@-moz-keyframes moveRight {
    0%   {opacity: 1.0; right:200px}
    100% {opacity: 1.0; right:36px}
}

@-ms-keyframes moveRight {
    0%   {opacity: 1.0; right:200px}
    100% {opacity: 1.0; right:36px}
}

@keyframes moveRight {
    0%   {opacity: 1.0; right:200px}
    100% {opacity: 1.0; right:36px}
}
.raccoon_wrap{position:absolute;right:36px;bottom:-73px;width:240px;height:263px}
.raccoon_wrap img:first-child {
-webkit-animation: spinRaccoon 1000ms linear infinite alternate;
-moz-animation: spinRaccoon 1000ms linear infinite alternate;
-ms-animation: spinRaccoon 1000ms linear infinite alternate;
animation: spinRaccoon 1000ms linear infinite alternate
}

@-webkit-keyframes spinRaccoon {
    from { -webkit-transform: rotate(10deg)}
    to { -webkit-transform: rotate(0deg)}
}

@-moz-keyframes spinRaccoon {
    from { -moz-transform: rotate(10deg)}
    to { -moz-transform: rotate(0deg)}
}

@-ms-keyframes spinRaccoon {
    from { -ms-transform: rotate(10deg)}
    to { -ms-transform: rotate(0deg)}
}

@keyframes spinRaccoon {
    from { transform:rotate(10deg)}
    to { transform:rotate(0deg)}
}
.raccoon_wrap img:first-child{position:absolute;top:-137px;left:93px}
/*플래너 이미지*/
.planner_wrap{position:relative}

/*포로리*/
.chipmunk_wrap{position:absolute;top:-32px;right:138px}



/*섹션2*/
.section2{position:relative;height:1276px;margin-top:186px;background:#ffd93f}
.section2 .con{}
.section2_title{position:relative;width:100%;height:210px;margin-bottom:-79px;background:#fff}
.section2_title span{display:block}
.section2_title span:first-child{margin-bottom:13px}
.section2_title+div{position:relative;width:100%;height:100%}
.section2_title .icon_with{display:inline-block;position:absolute;top:31px;margin-left:30px}

/*탭,이미지슬라이더 플러그인*/
.image-slider{position:relative;width:1060px;height:876px}
.slider-btn-prev,.slider-btn-next{position: absolute;top:57%}
.slider-btn-prev{left:21px}
.slider-btn-next{right:21px}


/*탭메뉴*/
.tab_wrap{position:relative;width:1060px;height:100%;margin:0 auto;box-sizing:border-box}
.tab_wrap *{box-sizing:border-box}
.tab{position:relative;padding:0 30px}
.tab:after{display:block;clear:both;visibility:hidden;content:''}

.tab>li{float:left;width:140px;height:81px;margin-right:3px}
.tab>li.tab7{margin-right:0}
.tab>li>a{display:block;width:100%;height:100%;text-indent:-999em}
.tab>li.tab1>a{background:url(../img/tab1.png)no-repeat}
.tab>li.tab2>a{background:url(../img/tab2.png)no-repeat}
.tab>li.tab3>a{background:url(../img/tab3.png)no-repeat}
.tab>li.tab4>a{background:url(../img/tab4.png)no-repeat}
.tab>li.tab5>a{background:url(../img/tab5.png)no-repeat}
.tab>li.tab6>a{background:url(../img/tab6.png)no-repeat}
.tab>li.tab7>a{background:url(../img/tab7.png)no-repeat}

.tab>li.tab1>a.on{background:url(../img/tab1_on.png)no-repeat}
.tab>li.tab2>a.on{background:url(../img/tab2_on.png)no-repeat}
.tab>li.tab3>a.on{background:url(../img/tab3_on.png)no-repeat}
.tab>li.tab4>a.on{background:url(../img/tab4_on.png)no-repeat}
.tab>li.tab5>a.on{background:url(../img/tab5_on.png)no-repeat}
.tab>li.tab6>a.on{background:url(../img/tab6_on.png)no-repeat}
.tab>li.tab7>a.on{background:url(../img/tab7_on.png)no-repeat}

.tab>li>div{display:block;position:absolute;top:100px;left:0;width:1060px;height:757px;padding:21px 0}


/*.배너*/
.banner_wrap{margin:45px auto 70px;text-align:center}
.banner_wrap a{display:inline-block;margin-right:10px}
.banner_wrap a.last{margin-right:0}

/*섹션3*/
.section3{height:950px;padding-top:60px;background:#ff687d}
.section3 .con{position:relative}
.section3 .bonobono_wrap2{position:absolute;top:-216px;right:-300px}
.section3 h3 img{margin-top:24px}
.section3 h3+div{width:706px;margin:33px auto 26px}
.section3 p{margin:10px 0;font-size:20px;color:#111;font-weight:600}
.section3 p:first-child{margin-bottom:0}
.section3 p:not(:nth-of-type(1)){display:inline-block}
.section3 p>span{}
.winner_wrap{overflow:hidden;width:1000px;height:462px;margin:0 auto;padding:53px 20px;border-radius:20px;background:#fff;text-align:center;box-sizing:border-box}
.winner_wrap li{float:left;width:33.3%}
.winner_wrap li>div{position:relative}
.winner_wrap li span{display:block;margin-top:18px}
.winner_wrap .circle{position:absolute;top:0;left:31px}

/*섹션4*/
.section4{height:100%;min-height:793px;padding-top:60px;padding-bottom:80px}
.section4 .con{position:relative;width:1000px;text-align:center}
.section4 h3{margin-bottom:35px;font-size:52px;color:#252525;font-weight:500}
.section4 h3>strong{color:#ff6177}
.input_wrap{margin:39px 0 35px -67px}
.input_wrap input{width:824px;height:60px;padding:0;padding-left:20px;border:1px solid #999;font-size:18px}
.input_wrap input:-ms-input-placeholder{color:#999}
.input_wrap input::placeholder{color:#999}
.btn_add{position:absolute;top:479px;right:54px}
/*섹션5*/
.section5{height:1470px;padding-top:59px;background:#f2f2f2}
.section5 .con{width:1000px;height:1070px}
.section5 h3{font-size:44px;color:#252525;font-weight:500}
.section5 h3>span{display:block;line-height:57px}
.section5 table{border-collapse:separate;border-spacing:0 10px}
.section5 td{height:100%;min-height:102px;padding:11px 0;background:#fff;border:1px solid #e0e0e0;font-size:16px;color:#333}
.section5 .img_2018{padding:11px 28px;border-right:none;text-align:center}
.section5 .link_address{padding-left:19px;border-left:none;border-right:none}
.section5 .link_address a{display:block;font-size:16px;color:#333}
.section5 .user_info{padding-left:10px;border-left:none;border-right:none;font-size:14px;color:#999}
.user{position:relative;padding-right:9px}
.user:after{display:inline-block;position:absolute;top:6px;width:1px;height:9px;border-right:1px solid #999;content:''}
.section5 .mem_delete{border-left:none}
.section5 .mem_delete a{display:block;line-height:17px}
.section5 .mem_delete img{vertical-align:middle}
.section5 td>span{font-size:14px;color:#999}
/*페이징*/
.paging-wrap{overflow:hidden;width:220px;margin:0 auto;padding:20px 0;text-align:center}
.paging-wrap li{float:left;margin-right:7px;line-height:11px}
.paging-wrap li.active a{color:#ed5436;text-decoration:underline}
.paging-wrap li>a{font-family:'돋움',dotum,sans-serif;font-size:12px;color:#777}
/*.paging-wrap li img{vertical-align:middle}*/
.info_wrap{width:100%;height:345px;padding:50px 0 50px;background:#fff}
.info{width:1000px;margin:0 auto}
.info_wrap h4{display:inline-block;padding:0 5px;border-bottom:1px solid #2e2e2e;font-size:25px;color:#2e2e2e;line-height:30px}
.info_wrap li{font-size:15px;color:#666;font-weight:600;line-height:30px}
.info_wrap li span{margin-left:16px}
/*푸터*/
.footer{width:100%;height:125px;position:relative;padding:25px 0;font-size:12px;color:#888;box-sizing:border-box}
.footer_in{width:1000px;margin:0 auto;text-align:center}
.footer_in p{margin-top:10px}
