
.wrap{position:relative;width:100%}



/*헤더*/
.header_wrap {width:100%;min-width:1060px;background:#00c2fa}
.header{position:relative;width:1060px;margin:0 auto;padding:17px 0 117px}
/*로고*/
h1 .logo{position:absolute;right:0;width:120px;height:35px}


/*컨테이너*/
.container{}


/*메인컨텐츠*/
/*.main_wrap{width:1060px;margin:0 auto}*/
.section *{box-sizing:border-box}
.section .con{width:1060px;margin:0 auto}
h2{text-align:center}
h3{text-align:center}
h2>img{margin-top:30px}
h2+p>strong:first-child{color:#ffee32}
h2+p>strong:last-child{font-size:24px}
.section p{margin:20px 0;font-size:22px;color:#fff}

/*섹션1*/
.section1{position:relative;width:100%;height:694px;background:#00c2fa;text-align:center;box-sizing:border-box}
.section1:after{display:block;position:absolute;bottom:-46px;width:100%;height:60px;background:url(../img/bg_wave.png) no-repeat;background-size:cover;content:''}
.main_visual_wrap{position:relative;z-index:99;margin-top:44px}

/*꽃잎*/
/*.flower_wrap { animation:flower 2s infinite; -webkit-animation:flower 2s infinite; }
		@-webkit-keyframes flower {
			0% { transform:rotate(0deg); }
			50% { transform:rotate(50deg); }
			100% { transform:rotate(0deg); }
		}
		@keyframes flower {
			0% { transform:rotate(0deg); }
			50% { transform:rotate(50deg); }
			100% { transform:rotate(0deg); }
		}*/



		.flower_wrap {
    -webkit-animation: flower 1000ms linear infinite alternate;
    -moz-animation: flower 1000ms linear infinite alternate;
    -ms-animation: flower 1000ms linear infinite alternate;
    animation: flower 1000ms linear infinite alternate;
		}
@keyframes flower {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(10deg); }
	}

/*왼쪽 */
.left{position:absolute;left:-55px}
.left .flower_wrap{position:absolute;top:-103px;left:-100px}

/*나비*/

/*오른쪽*/
.right{position:absolute;right:0}
.right .flower_wrap{position:absolute;top:-177px;right:-100px}
.right .butterfly_wrap{position:relative;top:-84px}
/*꽃잎*/
/*나비*/

/*보노보노*/
.bonobono_wrap{position:absolute;bottom:-60px;left:-25px;width:253px;height:263px}
.bonobono_wrap img:first-child{position:absolute;top:-90px;left:41px}
/*너부리*/
.raccoon_wrap{position:absolute;bottom:-73px;right:36px;width:240px;height:263px}
.raccoon_wrap img:first-child{position:absolute;top:-138px;left:93px}
/*플래너 이미지*/
.planner_wrap{position:relative}

/*포로리*/
.chipmunk_wrap{position:absolute;top:-32px;right:138px}



/*섹션2*/
.section2{padding-top:166px}
.section2_title{position:relative;width:857px;margin:0 auto 30px}
.section2_title span{display:block}
.section2_title span:first-child{margin-bottom:13px}
.icon_with{position:absolute;top:33px;right:-62px}
/*컨텐츠 리스트*/
.tab>li div{display:none}
.tab>li.on div{display:block;position:absolute;left:0;width:100%;padding:14px 0}
.tab>li.on:first-child div{display:block}

.lst{background:#fff}
.lst>li{margin-bottom:8px}
.lst>li:last-child{margin-bottom:0}
.lst>li:before{display:inline-block;width:3px;height:3px;margin-right:10px;background: url(../img/dot.png)no-repeat left center;vertical-align:middle;content:''}
.lst li>a{display:inline-block;max-width:85%;font-size:15px;color:#444;line-height:30px;text-decoration:none;letter-spacing:-1px;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis}
.lst .tag{display:inline-block;font-size:13px;width:43px;height:20px;margin:0 0 0 5px;border:1px solid #dc5656;color:#ca5a5a;line-height:18px;vertical-align:middle;text-align:center}
.lst .tag.v1{margin-left:5px;border:1px solid #ac4dbd;color:#9859a3}

/*나의 교육과정*/
.edu_process{background:#f8fafb}



/*탭메뉴*/
.tab{position:relative;margin:0 35px;box-sizing:border-box}
.tab:after{display:block;clear:both;visibility:hidden;content:''}
.tab div .view_more{top:-85px;right:-10px}
.tab>li{float:left;width:140px;margin-right:4px}
.tab>li>a{display:block;height:40px;background:#d7dee6;font-size:16px;color:#6a7a8a;font-weight:600;line-height:37px;text-decoration:none;text-align:center}
.tab>li.on>a{height:37px;border:3px solid #475c9b;border-bottom:none;background:#fff;color:#475c9b;line-height:34px;text-decoration:none}


/*탭메뉴 v1*/
.tab.v1{margin:0;padding-left:36px}
.tab>li.v1:first-child{border-left:none}
.tab>li.v1{width:33.33%;margin-right:-1px;border-left:1px solid #fff}
.tab>li.v1>a{font-size:15px;line-height:35px;text-align:center}
.tab>li.v1.on>a{border:none;background:#eaeef2;color:#444;line-height:35px}
.tab>li.v1.on>a:before{display:inline-block;width:6px;height:10px;margin-right:7px;background:url(../img/arrow_v1_on.png)no-repeat;content:''}

/*컨텐츠 리스트*/
.lst.v1{background:#eaeef2}
.tab.v1 div{position:absolute;left:0;width:100%;height:154px;margin:0;padding:0;background:#eaeef2}
.tab.v1 div .view_more{top:-85px;right:35px}
.lst.v1:first-child{padding-top:2px}
.lst.v1:last-child{padding-bottom:17px}
.lst.v1>li{padding-left:36px}
.lst.v1>li:before{display:none;content:''}
.lst.v1 a>span{display:inline-block;overflow:hidden;width:85px;font-size:13px;color:#818181;vertical-align:bottom;text-overflow:ellipsis}

/*공지사항*/
/*컨텐츠 리스트*/
.notice h3{margin-bottom:26px}
.notice .lst{position:relative;padding:0 36px 12px;background:#f9f9f9}
.notice .lst>li{margin-bottom:0}
.notice .lst a{color:#666;line-height:36px}
.notice .lst .date{position:absolute;right:36px;margin-top:8px;font-size:15px;color:#aaa;vertical-align:middle}

/*English 클래스*/
.eng_class h3{margin-bottom:26px}
.eng_class p{text-align:center}
.eng_class .en{font-size:26px;color:#269c36}
.eng_class .kr{font-size:16px;color:#505055;font-weight:600}
.eng_class .lst{overflow-y:auto;height:136px;padding:0 36px 12px;background:#f9f9f9}
.eng_class .con_view{display:block;position:absolute;left:50%;bottom:30px;width:90px;height: 27px;margin-left:-45px;border-radius:3px;background:#666a75;font-size:12px;color:#fff;line-height:25px;text-align:center}

/*.배너*/
.banner_wrap{margin:30px auto 80px}
.banner_wrap a{display:inline-block;margin-right:10px}
.banner_wrap a.last{margin-right:0}

/*푸터*/
.footer{position:relative;width:990px;height:102px;margin:0 auto;padding:30px 0 40px;font-size:13px}
.footer_in{overflow:hidden}
/*푸터로고*/
.footer_logo_wrap{float:left;width:115px}
.footer_logo{width:92px;height:22px;background-position:-236px -13px;text-indent:-999em}
/*어드레스*/
.address_wrap{float:left}
address{margin-top:0}
.address_wrap p{margin:10px 0}
a.mail_to{position:absolute;right:0;width:168px;height:29px;border-radius:20px;background:#909090;font-size:13px;color:#fff;line-height:25px;text-decoration:none;text-align:center}
.icon_mailto{display:inline-block;width:30px;height:15px;margin-right:5px;background-position:-154px -120px;text-indent:-999em;vertical-align:middle}

