.wrap{position:relative;width:100%}

/*sprite css*/
.sp_img{display:block;width:1341px;height:1226px;background:url(../img/sprites.png)no-repeat;text-indent:-999em}

/*헤더*/
.header_wrap {overflow:hidden;position:absolute;z-index:99;top:20px;width:100%;min-width:1004px;background:#fff}
.header_wrap:after{display:block;position:absolute;bottom:0;left:0;width:100%;height:2px;background:url(../img/bg_shadow.png)repeat-x;background-size:100% 2px;content:''}
.header{position:relative;width:1004px;height:81px;margin:0 auto}


/*로고*/
h1{float:left;width:auto}
.logo{width:184px;height:56px;background-position: -592px -579px}


/*gnb메뉴 */
.nav{float:right}
.btn_all{display:none}
.gnb>li{float:left;margin-left:16px}
.gnb>li>a{display:block;padding:20px 29px 10px;font-size:18px;color:#333;font-weight:600;line-height:18px}
.gnb>li:hover>a{text-decoration:none}
.icon_map{display:inline-block;width:10px;height:18px;margin-right:10px;background-position:-1299px -606px;vertical-align:top}
/*sub*/
.gnb li .sub_wrap{overflow:hidden;display:none;position:absolute;left:376px;width:360px}
.gnb li .sub_wrap.on{display:block}
.sub li{position:relative;float:left;padding:0 10px;line-height:30px}
.sub li a{display:block;position:relative;font-size:13px;color:#767676;letter-spacing:-1px}
.sub li.on{color:#2cb084;text-decoration:none}
.sub li.on:hover:after{display:block;position:absolute;left:50%;bottom:0;margin-left:-3.5px;width:7px;height:4px;background:url(../img/arrow.on.png) no-repeat;content:''}
.sub li a:hover {color:#2cb084;text-decoration:none}



/*모바일*/
.arrow_up{width:21px;height:13px;background-position: -106px -60px}

.logo_m{width:195px;height:60px;background-position: -0 -0}
.view_more_m{width:24px;height:25px;background-position: -82px -60px}

/*컨테이너*/
.container{padding-top:100px;border-bottom:1px solid #d0d0d0}

/*더보기*/
.icon_view_more{width:13px;height:13px;background-position: -1309px -606px}

/*메인컨텐츠*/
/*기본비주얼*/
.base_wrap{background:#f7f7f7}
.base_visual{position:relative;width:960px;height:320px;margin:0 auto}
.base_visual:after{display:block;clear:both;visibility:hidden;content:''}
.text_wrap{float:left;padding-top:47px}
.text_wrap h4{margin-bottom:22px;font-size:34px;color:#333;font-weight:normal;line-height:1.2;letter-spacing:-1px}
.text_wrap h4>span{display:block;color:#2cb084}
.text_wrap p{font-size:16px;color:#555}
.text_wrap a{display:block;position:relative;max-width:76px;margin-top:32px;padding:8px 42px 8px 12px;background:#2cb084;color:#fff;font-weight:600;text-decoration:none}
.text_wrap a:after{display:block;position:absolute;top:14px;right:16px;width:4px;height:7px;background:url(../img/btn_arrow.png)no-repeat;content:''}
.img_base{position:absolute;top:28px;right:0;width:592px;height:286px;background-position: -0 -411px}

/*메뉴바로가기*/
.quick_nav_wrap{width:100%;height:128px;background:#6a7077}
.quick_nav{width:960px;margin:0 auto}
.quick_nav:after{display:block;clear:both;visibility:hidden;content:''}
.quick_nav li{float:left;width:120px;height:100%}

.quick_nav li>a{display:block;position:relative;width:58px;height:92px;padding:21px 31px 17px;font-family:'NanumGothic',sans-serif;color:#fff;font-weight:600;text-decoration:none;text-align:center}
.quick_nav li.on>a:before{display:block;position:absolute;top:0;left:50%;width:13px;height:7px;margin-left:-6px;background:url(../img/arrow_w.png)no-repeat;content:''}

.quick_nav li>a .sp_img{margin-bottom:12px}
.quick_nav li .content_wrap{display:none}
.quick_nav li.on .content_wrap{overflow:hidden;display:block;position:absolute;top:100px;left:0;width:100%;height:320px;background:#f7f7f7}
.content_wrap>div{width:960px;height:320px;margin:0 auto}
.content_wrap .sp_img{position:absolute;top:27px;right:95px}

/*교통안전*/
.icon_traffic_safety{width:58px;height:58px;background-position: -537px -760px}
.icon_traffic_safety.on{width:58px;height:58px;background-position: -1164px -697px}
.traffic_safety h4>span{color:#4e79c1}
.traffic_safety a{background:#6798ea}
.content_wrap .img_traffic_safety{top:-40px;width:434px;height:411px;background-position: -497px -0}

/*재난안전*/
.icon_disaster_safety.on{width:60px;height:60px;background-position:-832px -487px}
.icon_disaster_safety{width:60px;height:60px;background-position:-592px -635px}
.disaster_safety h4>span{color:#ce5b6c}
.disaster_safety a{background:#eb7c8c}
.content_wrap .img_disaster_safety{right:226px;width:332px;height:256px;background-position: -931px -397px}

/*치안안전*/
.icon_security_safety.on{width:59px;height:59px;background-position:-831px -635px}
.icon_security_safety{width:59px;height:59px;background-position:-751px -697px}
.security_safety h4>span{color:#88ab17}
.security_safety a{background:#88ab17}
.content_wrap .img_security_safety{top:-40px;width:497px;height:411px;background-position: -0 -0}

/*맞춤안전*/
.icon_order_safety.on{width:59px;height:59px;background-position:-869px -697px}
.icon_order_safety{width:59px;height:59px;background-position:-772px -635px}
.order_safety h4>span{color:#4bba95}
.order_safety a{background:#4bba95}
.img_order_safety{width:417px;height:229px;background-position: -0 -697px}

/*시설안전*/
.icon_facilities_safety.on{width:59px;height:59px;background-position:-987px -697px}
.icon_facilities_safety{width:59px;height:59px;background-position:-928px -697px}
.facilities_safety h4>span{color:#276e86}
.facilities_safety a{background:#276e86}
.content_wrap .img_facilities_safety{right:330px;width:120px;height:168px;background-position: -592px -411px}

/*산업안전*/
.quick_nav .v1.on:before{background:url(../img/arrow.png)no-repeat}
.icon_industrial_safety.on{width:60px;height:59px;background-position:-712px -635px}
.icon_industrial_safety{width:60px;height:59px;background-position:-652px -635px}
.industrial_safety h4>span{color:#7f6147}
.industrial_safety a{background:#7f6147}
.content_wrap .img_industrial_safety{top:-40px;width:410px;height:397px;background-position: -931px -0}

/*보건식품안전정보*/
.quick_nav li>a.v1{width:76px;padding:21px 22px 17px}
.quick_nav li>a.v1>span{margin-left:4px}
.icon_sanitary_food_safety.on{width:59px;height:59px;background-position:-810px -697px}
.icon_sanitary_food_safety{width:59px;height:59px;background-position:-1046px -697px}
.sanitary_food_safety h4>span{color:#b35d00}
.sanitary_food_safety a{background:#b35d00}
.content_wrap .img_sanitary_food_safety{right:330px;width:120px;height:168px;background-position: -712px -411px}

/*사고안전*/
.icon_accident_safety.on{width:58px;height:58px;background-position:-1222px -697px}
.icon_accident_safety{width:58px;height:58px;background-position:-1280px -697px}
.accident_safety h4>span{color:#672373}
.accident_safety a{background:#672373}
.content_wrap .img_accident_safety{right:330px;width:120px;height:168px;background-position: -417px -697px}


/*메인컨텐츠*/
.main_con{position:relative;width:960px;margin:20px auto}
.main_con:after{display:block;clear:both;visibility:hidden;content:''}
.con_lst{position:relative;float:left;width:202px;height:440px;padding:0 18px;border:1px solid #ddd}

/*서비스지역보기*/
.service_location{width:312px}
.con_lst h3{margin-top:23px;font-size:20px;color:#333}
.con_lst p{font-family:'돋움',dotum,'NanumGothic',sans-serif;font-size:12px}
.location_wrap{position:relative;width:186px;height:300px;background-position: -0 -926px;text-indent:0}
.location_wrap>a{display:block;width:30px;height:19px;border-radius:3px;background:#555;font-size:12px;color:#fff;text-align:center}
/*서비스지역 선택*/
.con_lst h4{height:36px;background:#f1f1f1;font-family:'돋움',dotum,'NanumGothic',sans-serif;font-size:12px;line-height:36px}
.con_lst h4:before{display:block;position:absolute;z-index:99;top:16px;left:-6px;width:6px;height:12px;background:url(../img/popup_arrow.png)no-repeat;content:''}
.location_popup{display:none;position:absolute;z-index:99;top:0;right:-251px;width:251px;height:400px;border:1px solid #ddd;border-top:none;background:#fff}
.location_popup.on{display:block}
.btn_close{position:absolute;top:5%;right:10px;width:11px;height:11px;margin-top:-6px;background-position:-1263px -624px}
.con_lst h5{height:35px;border-top:1px solid #cfcfd3;border-bottom:1px solid #ddd;background:#fbfbfb;font-family:'돋움',dotum,'NanumGothic',sans-serif;font-size:12px;text-align:center;line-height:35px}
.location_lst{overflow-y:auto;height:329px}
.location_lst>li{height:31px;border-bottom:1px dotted #ddd;line-height:31px}
.location_lst>li:last-child{border-bottom:none}
.location_lst>li>a{padding-left:13px;font-family:'돋움',dotum,'NanumGothic',sans-serif;color:#555;font-size:12px;}
.location_lst>li>a:before{display:inline-block;width:3px;height:3px;margin-right:5px;background:url(../img/bullet.png)no-repeat;content:'';vertical-align:middle}
.location_lst>li>a:hover{color:#2cb084}
/*second*/
/*지역날씨*/
.second{width:370px;padding:0;border-left:none;border-right:none}
.location_weather{overflow:hidden;height:220px}
.weather_warp.location{width:132px;height:100%;padding:0 21px;background:#f7f7f7}
.weather_warp{float:left;width:196px;height:50%;background:#fff}
.icon_service_location{display:inline-block;width:12px;height:11px;margin:0 5px 0 12px;background-position:-1322px -606px;vertical-align:middle}
.icon_little_cloudy{width:79px;height:76px;background-position:-832px -411px}
.icon_partly_cloudy{width:107px;height:63px;background-position:-644px -697px}


/*홍보영상*/
.promotional_video{position:relative}
.promotional_video>a{position:absolute;left:50%;top:50%;margin:-35px 0 0 -35px}
.icon_play{width:71px;height:71px;background-position:-1263px -397px}


.bx_prev{width:18px;height:18px;background-position:-1281px -606px}
.bx_next{width:18px;height:18px;background-position:-1263px -606px}
/*.arrow.on{width:7px;height:4px;background-position:-1334px -404px}*/
.btn_arrow{width:4px;height:7px;background-position:-1334px -397px}
/*.bullet{width:3px;height:3px;background-position:-1338px -397px}*/
.icon_rain{width:69px;height:71px;background-position:-1263px -468px}
.icon_snow{width:69px;height:67px;background-position:-1263px -539px}
.icon_use_guide{width:59px;height:59px;background-position: -1105px -697px}
.icon_very_cloudy{width:107px;height:63px;background-position: -537px -697px}
.map{width:186px;height:300px;background-position: -0 -926px}



/*.배너*/
.banner_wrap{margin:30px auto 80px}
.banner_wrap a{display:inline-block;margin-right:10px}
.banner_wrap a.last{margin-right:0}

/*푸터*/
.footer{position:relative;width:990px;height:102px;margin:0 auto;padding:30px 0 40px;font-size:13px}
.footer_in{overflow:hidden}
/*푸터로고*/
.footer_logo_wrap{float:left;width:115px}
.footer_logo{width:92px;height:22px;background-position:-236px -13px;text-indent:-999em}
/*어드레스*/
.address_wrap{float:left}
address{margin-top:0}
.address_wrap p{margin:10px 0}
a.mail_to{position:absolute;right:0;width:168px;height:29px;border-radius:20px;background:#909090;font-size:13px;color:#fff;line-height:25px;text-decoration:none;text-align:center}
.icon_mailto{display:inline-block;width:30px;height:15px;margin-right:5px;background-position:-154px -120px;text-indent:-999em;vertical-align:middle}





/*미디어쿼리*/

/*해상도 767px 이하*/
@media only screen and (max-width : 767px){
	.sp_img_m{display:block;width:195px;height:97px;background:url(../img/sprites_m.png)no-repeat;text-indent:-999em}
	.header{height:auto}
	h1{float:none;width:100%}
	.nav{float:none}
	.btn_all{display:block;width:100%;height:100%;background:#555555}
	.btn_all>a{display:block;width:50px;height:50px;background:#333}
	.icon_btn_all{width:41px;height:37px;background-position: -0 -60px}
	.icon_btn_all:hover{background-position: -41px -60px}
	.gnb>li{float:none}
	.gnb li .sub_wrap.on{display:none}
}

/* 해상도가 768px 이상이고 1024px 이하*/
@media only screen (min-width:768px) and (max-width:1024px) {
}

/* 해상도가 1025px 이상*/
@media only screen  (min-width:1025px) {
}